
<div class="px-4 py-5 md:px-6 lg:px-8 surface-ground h-screen">
    <div class="">
        <div class="font-medium text-3xl text-900 mb-3">Settings</div>
        <!-- <div class="text-500 mb-5">Review and edit your information</div> -->
        <ul class="list-none p-0 m-0">
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                <div class="text-500 w-6 md:w-8 font-medium">Dark Mode <p-tag icon="pi pi-clock" value="Coming Soon" severity="warning" [rounded]="true"/></div>
                <div class="text-900 w-full md:w-2 md:flex-order-0 flex-order-1">
                    <p-toggleButton onLabel="On" offLabel="Off" [onIcon]="'pi pi-moon'" [offIcon]="'pi pi-sun'" styleClass="text-900" (onChange)="toggleDarkMode()"></p-toggleButton>
                </div>
            </li>
        </ul>
    </div>
</div>