<div class="container" style="background: radial-gradient(50% 30% at 50% 20%, rgba(121, 101, 252, 0.35) 0%, rgba(255, 255, 255, 0) 100%);">
    <!-- NAVBAR -->
    <div class="py-3 px-6 flex align-items-center justify-content-between relative absolute top-0">
        <a routerLink="/landing">
            <img src="assets/logo-horizontal.png" alt="Logo" height="50">
        </a>
        <!-- <a pRipple class="cursor-pointer block lg:hidden text-gray-400" (click)="toggleMenu()">
            <i class="pi pi-bars text-4xl"></i>
        </a> -->
        <!-- <div [ngClass]="{'hidden': !isMenuActive, 'flex': isMenuActive, 'bg-white': isMenuActive}"
            class="lg:flex lg:flex-grow-1 lg:justify-content-between absolute lg:static w-full lg:w-auto left-0 top-100 lg:top-auto px-6 lg:px-0 flex-column lg:flex-row"> -->
        <!-- <ul class="list-none p-0 m-0 lg:m-auto flex lg:align-items-center select-none flex-column lg:flex-row text-gray-600">
                <li>
                    <a pRipple class="p-ripple p-element flex align-items-center px-3 xl:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150 cursor-pointer">
                        <span class="font-semibold text-xl">Pricing</span>
                    </a>
                </li>
            </ul> -->
        <!-- <p-divider></p-divider> -->
        <div class="flex justify-content-between hidden lg:block py-3 lg:py-0 border-gray-300">
            <button
                pButton
                pRipple
                label="Join"
                icon="pi pi-chevron-right"
                iconPos="right"
                class="font-bold"
                severity="contrast"
                (click)="email.blur()"
            ></button>
        </div>
        <!-- </div> -->
    </div>
    <!-- HERO -->
    <div class="p-3 lg:px-6 text-center mt-60">
        <div class="surface-900 text-0 p-2 mx-auto mb-4" style="max-width: 250px; border-radius: 40px;">🔥 Join The Waitlist</div>
        <div class="text-6xl lg:text-6xl text-900 font-bold mb-1">Unlock the Power of AI</div>
        <div class="text-5xl lg:text-6xl text-primary font-bold mb-4">for Legal Terms</div>
        <p class="text-gray-500 text-xl lg:w-4 mx-auto">Tired of deciphering complex legal documents? TermzAI uses AI to provide clear answers to your legal questions, saving you time and effort.</p>
        <p-inputGroup class="w-full lg:w-30rem mx-auto mt-6">
            <input
                pInputText
                type="text"
                placeholder="Enter your email"
                #email
            >
            <button
                pButton
                type="button"
                label="Join Waitlist"
                severity="contrast"
            ></button>
        </p-inputGroup>
        <img src="assets/dashboard_laptop.png" alt="TermzAI Dashboard" class="block mx-auto mt-6 w-full lg:w-8">
    </div>
    <!-- WHY JOIN -->
    <div class="px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="mb-3 font-bold text-5xl text-900">
            How It Works
        </div>
        <!-- <div class="text-700 mb-6">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.</div> -->
        <div class="grid mt-6">
            <p-card class="col-12 md:col-4 mb-4 px-5 h-">
                <span class="p-3 shadow-2 mb-3 inline-block surface-section border-round-md">
                    <i class="pi pi-clipboard text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Paste Legal Terms</div>
                <span class="text-700 line-height-3">Simply create a new document, and copy & paste the text into our platform.</span>
            </p-card>
            <p-card class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-section border-round-md">
                    <i class="pi pi-question-circle text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Ask Questions</div>
                <span class="text-700 line-height-3">Use our intuitive interface to ask any questions you have about the terms.</span>
            </p-card>
            <p-card class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-section border-round-md">
                    <i class="pi pi-microchip-ai text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Get Instant AI Answers</div>
                <span class="text-700 line-height-3">Receive precise, easy-to-understand, ai-powered answers instantly.</span>
            </p-card>
        </div>
    </div>
    <div class="px-4 py-8 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-12 md:col-6">
                <img src="assets/undraw_chat_re_re1u.svg" alt="Chat With TermzAI" class="w-full border-round-diagonal">
            </div>
            <div class="col-12 md:col-6 md:pl-6">
                <!-- <div class="p-3 inline-flex align-items-center surface-900 text-0 mb-4 font-medium" style="border-radius: 30px;">
                    <i class="pi pi-star-fill mr-2"></i>
                    <span>Open Source API</span>
                </div> -->
                <div class="text-5xl font-bold text-900 mb-3">Why Join the Waitlist?</div>
                <div class="text-700 text-lg mb-5 line-height-3 mb-5">Get ahead with TermzAI! Here's why you should join:</div>
                <div class="flex align-items-center mb-4">
                    <i class="pi pi-check text-green-600 mr-3"></i>
                    <div>
                        <div class="text-900 font-medium mb-2">Be the First</div>
                        <div class="text-700">Get early access to TermzAI and be among the first to experience the future of legal document analysis.</div>
                    </div>
                </div>
                <div class="flex align-items-center mb-4">
                    <i class="pi pi-check text-green-600 mr-3"></i>
                    <div>
                        <div class="text-900 font-medium mb-2">Shape the App</div>
                        <div class="text-700">Help decide on future features and influence the development of TermzAI.</div>
                    </div>
                </div>
                <div class="flex align-items-center mb-4">
                    <i class="pi pi-check text-green-600 mr-3"></i>
                    <div>
                        <div class="text-900 font-medium mb-2">Exclusive Discounts</div>
                        <div class="text-700">Enjoy special discounts as an early member, giving you access to premium features at a reduced price.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PRICING -->
    <!-- <div class="px-4 py-8 md:px-6 lg:px-8 bg-no-repeat bg-cover" style="background: url('assets/images/blocks/pricing/pricing-4.svg');">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-6 lg:pr-8">
            <div class="text-900 font-bold text-4xl mb-4">Pricing</div>
            <div class="text-700 text-xl line-height-3 mb-4 lg:mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</div>
          </div>
          <div class="w-full md:w-6 lg:w-3">
            <ul class="list-none p-0 m-0">
              <li class="flex align-items-center my-4"><i class="pi pi-check text-green-500 mr-3"></i><span>Arcu vitae elementum</span></li>
              <li class="flex align-items-center my-4"><i class="pi pi-check text-green-500 mr-3"></i><span>Dui faucibus in ornare</span></li>
              <li class="flex align-items-center my-4"><i class="pi pi-check text-green-500 mr-3"></i><span>Morbi tincidunt augue</span></li>
            </ul>
          </div>
          <div class="w-full md:w-6 lg:w-3 md:pl-5">
            <ul class="list-none p-0 m-0">
              <li class="flex align-items-center my-4"><i class="pi pi-check text-green-500 mr-3"></i><span>Duis ultricies lacus sed</span></li>
              <li class="flex align-items-center my-4"><i class="pi pi-check text-green-500 mr-3"></i><span>Imperdiet proin</span></li>
              <li class="flex align-items-center my-4"><i class="pi pi-check text-green-500 mr-3"></i><span>Nisi scelerisque</span></li>
            </ul>
          </div>
        </div>
        <div class="flex flex-wrap mt-5 -mx-3">
          <div class="w-full lg:w-4 p-3">
            <div class="shadow-2 p-3 h-full bg-primary" style="border-radius: 6px;">
              <div class="font-medium text-xl mb-5">Free Forever</div>
              <div class="font-bold text-5xl mb-5">Free</div>
              <button type="button" pRipple class="p-ripple p-element font-medium appearance-none border-none p-2 surface-0 text-primary hover:surface-100 p-component lg:w-full border-rounded cursor-pointer transition-colors transition-duration-150" style="border-radius: 6px;">
                <span>Create Account</span>
              </button>
              <p class="text-sm line-height-3 mb-0 mt-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="w-full lg:w-4 p-3">
            <div class="shadow-2 p-3 h-full surface-card" style="border-radius: 6px;">
              <div class="font-medium text-xl mb-5 text-900">Monthly</div>
              <div class="flex align-items-center mb-5">
                <span class="text-900 font-bold text-5xl">$29</span><span class="font-medium text-500 ml-2">per month</span>
              </div>
              <button pButton pRipple label="Proceed Monthly" icon="pi pi-arrow-right" iconPos="right" class="p-element p-ripple lg:w-full font-medium p-2 p-button p-component" style="border-radius: 6px;"></button>
              <p class="text-sm line-height-3 mb-0 mt-5">Nec ultrices dui sapien eget. Amet nulla facilisi morbi tempus.</p>
            </div>
          </div>
          <div class="w-full lg:w-4 p-3">
            <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px;">
              <div class="flex flex-row justify-content-between mb-5 align-items-center">
                <div class="text-900 text-xl font-medium">Yearly</div>
                <span class="bg-orange-100 text-orange-500 font-semibold px-2 py-1 border-round">🎉 Save 20%</span>
              </div>
              <div class="flex align-items-center mb-5">
                <span class="text-900 font-bold text-5xl">$275</span><span class="font-medium text-500 ml-2">per year</span>
              </div>
              <button pButton pRipple label="Proceed Yearly" icon="pi pi-arrow-right" iconPos="right" class="p-element p-ripple lg:w-full font-medium p-2 p-button p-component" style="border-radius: 6px;"></button>
              <p class="text-sm line-height-3 mb-0 mt-5">Placerat in egestas erat imperdiet sed euismod nisi porta.</p>
            </div>
          </div>
        </div>
      </div> -->
    <!-- TESTIMONIALS -->
    <!-- <div class="text-center px-4 py-8 md:px-6 lg:px-8">
        <div class="block font-bold text-3xl mb-5 text-center">Testimonials</div>

        <div class="flex flex-column md:flex-row">
          <div class="flex flex-grow-1 gap-5 mt-6 mb-4 md:mb-0 md:px-4 py-4 md:py-0">
            <div class="shadow-2 surface-card border-round relative">
              <img [src]="'https://i.pravatar.cc/100?img=68'" width="100" height="100" class="absolute left-50 border-circle border-3 border-white shadow-2" [ngStyle]="{'margin-left': '-50px', 'top': '-50px'}">
              <div class="px-4 pb-4 pt-8 relative">
                <p class="text-900 font-italic line-height-3 text-lg m-0 pb-4 border-bottom-1 surface-border">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                </p>
                <div class="text-900 font-semibold line-height-3 mt-4">John Doe</div>
                <div class="text-600 line-height-3 text-sm">Awesome app</div>
              </div>
            </div>

            <div class="shadow-2 surface-card border-round relative">
                <img [src]="'https://i.pravatar.cc/100?img=5'" width="100" height="100" class="absolute left-50 border-circle border-3 border-white shadow-2" [ngStyle]="{'margin-left': '-50px', 'top': '-50px'}">
                <div class="px-4 pb-4 pt-8 relative">
                  <p class="text-900 font-italic line-height-3 text-lg m-0 pb-4 border-bottom-1 surface-border">
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                  </p>
                  <div class="text-900 font-semibold line-height-3 mt-4">John Doe</div>
                  <div class="text-600 line-height-3 text-sm">Awesome app</div>
                </div>
              </div>

              <div class="shadow-2 surface-card border-round relative">
                <img [src]="'https://i.pravatar.cc/100?img=11'" width="100" height="100" class="absolute left-50 border-circle border-3 border-white shadow-2" [ngStyle]="{'margin-left': '-50px', 'top': '-50px'}">
                <div class="px-4 pb-4 pt-8 relative">
                  <p class="text-900 font-italic line-height-3 text-lg m-0 pb-4 border-bottom-1 surface-border">
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                  </p>
                  <div class="text-900 font-semibold line-height-3 mt-4">John Doe</div>
                  <div class="text-600 line-height-3 text-sm">Awesome app</div>
                </div>
              </div>
          </div>
        </div>
      </div> -->
    <!-- FAQ -->
    <div class="px-4 py-6 md:px-6">
        <div class="font-bold text-5xl mb-5 text-center">FAQ.</div>
        <div class="text-700 text-center mb-5">Frequently Asked Questions</div>
        <div class="grid grid-nogutter">
            <p-accordion>
                <p-accordionTab header="Who can benefit from using TermzAI?" [headerStyleClass]="'bg-white-alpha-90 border-0'" [contentStyleClass]="'border-0'">
                    <p>
                        Anyone dealing with complex legal documents, including individuals, businesses, and legal professionals,
                    can benefit from the time-saving and clarity provided by TermzAI.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="What types of documents can I upload to TermzAI?" [headerStyleClass]="'bg-white-alpha-90 border-0'" [contentStyleClass]="'border-0'">
                    <p>
                        You can upload various types of legal documents, including terms of service, privacy policies, contracts, and more.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Can I suggest features or improvements for TermzAI?" [headerStyleClass]="'bg-white-alpha-90 border-0'" [contentStyleClass]="'border-0'">
                    <p>
                        Absolutely! We welcome feedback from our users. Joining the waitlist gives you the opportunity to shape the app by suggesting future features and improvements.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="How long does it take to get a response from the AI?" [headerStyleClass]="'bg-white-alpha-90 border-0'" [contentStyleClass]="'border-0'">
                    <p>
                        The AI typically provides instant answers within a few seconds. This rapid response time helps you save valuable time and allows you to make quick, informed decisions based on the AI's insights.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="Can I use TermzAI on mobile devices?" [headerStyleClass]="'bg-white-alpha-90 border-0'" [contentStyleClass]="'border-0'">
                    <p>
                        Yes, TermzAI is designed to be fully responsive and can be used on both desktop and mobile devices, allowing you to access it anytime, anywhere.
                    </p>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <!-- CONTACT -->
    <div class="p-3 lg:py-6">
        <div class="text-5xl font-bold text-center mb-3">Contact Us</div>
        <div class="text-gray-500 text-center mb-6">
            Still have a question? Leave us a message and we will get back to you as soon as possible.
        </div>
        <div class="p-fluid formgrid grid px-4 py-8 md:px-6 lg:px-8">
            <div class="field col-12 lg:col-6 mb-4">
                <input
                    id="firstname"
                    type="text"
                    pInputText
                    placeholder="First Name"
                    class="p-inputtext p-component p-element py-3 px-2 text-lg"
                >
            </div>
            <div class="field col-12 lg:col-6 mb-4">
                <input
                    id="lastname"
                    type="text"
                    pInputText
                    placeholder="Last Name"
                    class="p-inputtext p-component p-element py-3 px-2 text-lg"
                >
            </div>
            <div class="field col-12 mb-4">
                <input
                    id="email"
                    type="text"
                    pInputText
                    placeholder="Email"
                    class="p-inputtext p-component p-element py-3 px-2 text-lg"
                >
            </div>
            <div class="field col-12 mb-4">
                <input
                    id="phone"
                    type="text"
                    pInputText
                    placeholder="Phone"
                    class="p-inputtext p-component p-element py-3 px-2 text-lg"
                >
            </div>
            <div class="field col-12 mb-4">
                <textarea
                    id="message"
                    pInputTextarea
                    rows="3"
                    placeholder="Message"
                    class="p-inputtextarea p-inputtext p-component p-element py-3 px-2 text-lg p-inputtextarea-resizable"
                    style="height: 104px; overflow: hidden;"
                ></textarea>
            </div>
            <div class="col-12 text-right">
                <button
                    type="button"
                    pButton
                    pRipple
                    label="Submit"
                    icon="pi pi-envelope"
                    class="p-element p-ripple px-5 py-3 w-auto p-button p-component"
                    severity="contrast"
                >
                    <span class="p-button-icon p-button-icon-left pi pi-envelope" aria-hidden="true"></span>
                    <span class="p-button-label">Send</span>
                </button>
            </div>
        </div>
    </div>
    <!-- COPYRIGHT -->
    <div class="py-3 text-gray-500 flex justify-content-between flex-column lg:flex-row text-center lg:text-left">
        <div class="pt-5">©2024 TermzAI. All rights reserved.</div>
        <div class="flex gap-5 pt-5">
            <div>
                <i class="pi pi-twitter mr-2"></i>
                <span>{{'@termzai'}}</span>
            </div>
            <div>
                <i class="pi pi-inbox mr-2"></i>
                <span>{{'contact@termzai.com'}}</span>
            </div>
        </div>
    </div>
</div>
<!-- <div class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
      <div class="col-12 md:col-3 flex flex-wrap justify-content-start md:mb-0 mb-3">
        <img src="assets/logo-full-dark.png" alt="Logo" height="200">
      </div>
      <div class="col-12 md:col-3">
        <div class="text-white text-lg mb-4 flex flex-wrap" style="max-width: 290px;">
          Jacob Obrechtstraat 5, 1071 KC Amsterdam The Netherlands
        </div>
        <div class="text-white mb-3">
          <i class="pi pi-phone border-round p-1 mr-2"></i>(31) 20 779 8986
        </div>
        <div class="text-white mb-3">
          <i class="pi pi-inbox border-round p-1 mr-2"></i>{{'hello@alfred.co'}}
        </div>
      </div>
      <div class="col-12 md:col-3 text-gray-200">
        <div class="text-white font-bold line-height-3 mb-3">Company</div>
        <a class="line-height-3 block cursor-pointer mb-2">About Us</a>
        <a class="line-height-3 block cursor-pointer mb-2">News</a>
        <a class="line-height-3 block cursor-pointer mb-2">Investor Relations</a>
        <a class="line-height-3 block cursor-pointer mb-2">Careers</a>
        <a class="line-height-3 block cursor-pointer">Media Kit</a>
      </div>
      <div class="col-12 md:col-3 text-gray-200">
        <div class="text-white font-bold line-height-3 mb-3">Resources</div>
        <a class="line-height-3 block cursor-pointer mb-2">Get Started</a>
        <a class="line-height-3 block cursor-pointer mb-2">Learn</a>
        <a class="line-height-3 block cursor-pointer">Case Studies</a>
      </div>
    </div>
  </div> -->
