<div class="ng-star-inserted" style="height: 100vh; overflow: hidden;">
    <div class="min-h-screen flex relative lg:static surface-ground">
        <div id="app-sidebar-13" class="surface-section h-screen hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 surface-border select-none" style="width: 280px;">
            <div class="flex flex-column h-full">
                <div class="flex align-items-center justify-content-center px-3 py-5 border-bottom-1 surface-border" style="height: 60px;">
                    <img src="assets/logo-horizontal.png" alt="Image" height="30">
                </div>
                <div class="flex justify-content-center py-5">
                    <p-selectButton optionlabel="name" optionvalue="value" class="p-element ng-untouched ng-pristine ng-valid">
                        <div role="group" class="p-selectbutton p-buttonset p-component">
                            <div
                                role="button"
                                pripple=""
                                class="p-ripple p-element p-button p-component ng-star-inserted p-highlight"
                                aria-pressed="true"
                                tabindex="0"
                                aria-labelledby="Favorites"
                            >
                                <!---->
                                <span class="p-button-label ng-star-inserted">Favorites</span>
                                <!---->
                                <!---->
                                <!---->
                                <span class="p-ink"></span>
                            </div>
                            <div
                                role="button"
                                pripple=""
                                class="p-ripple p-element p-button p-component ng-star-inserted"
                                aria-pressed="false"
                                tabindex="0"
                                aria-labelledby="Apps"
                            >
                                <!---->
                                <span class="p-button-label ng-star-inserted">Apps</span>
                                <!---->
                                <!---->
                                <!---->
                                <span class="p-ink"></span>
                            </div>
                            <!---->
                        </div>
                    </p-selectButton>
                </div>
                <div class="overflow-y-auto px-5 flex-1">
                    <ul class="list-none p-0 m-0 ng-star-inserted">
                        <li>
                            <a pripple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:surface-hover transition-duration-150 transition-colors text-primary" style="border-radius: 12px;">
                                <i class="pi pi-home mr-2"></i>
                                <span class="font-medium">Dashboard</span>
                                <span class="p-ink"></span>
                            </a>
                        </li>
                        <li>
                            <a pripple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:surface-hover transition-duration-150 transition-colors" style="border-radius: 12px;">
                                <i class="pi pi-bookmark mr-2"></i>
                                <span class="font-medium">Bookmarks</span>
                                <span class="p-ink"></span>
                            </a>
                        </li>
                        <li>
                            <a pripple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:surface-hover transition-duration-150 transition-colors" style="border-radius: 12px;">
                                <i class="pi pi-users mr-2"></i>
                                <span class="font-medium">Team</span>
                                <span class="p-ink"></span>
                            </a>
                        </li>
                        <li>
                            <a pripple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:surface-hover transition-duration-150 transition-colors" style="border-radius: 12px;">
                                <i class="pi pi-comments mr-2"></i>
                                <span class="font-medium">Messages</span>
                                <p-badge value="5" class="p-element ml-auto">
                                    <span class="p-badge p-component p-badge-no-gutter ng-star-inserted">5</span>
                                    <!---->
                                </p-badge>
                                <span class="p-ink"></span>
                            </a>
                        </li>
                        <li>
                            <a pripple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:surface-hover transition-duration-150 transition-colors" style="border-radius: 12px;">
                                <i class="pi pi-calendar mr-2"></i>
                                <span class="font-medium">Calendar</span>
                                <span class="p-ink"></span>
                            </a>
                        </li>
                    </ul>
                    <!---->
                    <!---->
                </div>
                <div class="border-top-1 surface-border p-3 flex justify-content-center column-gap-5">
                    <a pripple="" class="p-ripple p-element cursor-pointer text-purple-500 inline-flex align-items-center justify-content-center hover:surface-100 transition-colors transition-duration-150 w-3rem h-3rem border-circle">
                        <i class="pi pi-chart-pie text-3xl"></i>
                        <span class="p-ink"></span>
                    </a>
                    <a pripple="" class="p-ripple p-element cursor-pointer text-orange-500 inline-flex align-items-center justify-content-center hover:surface-100 transition-colors transition-duration-150 w-3rem h-3rem border-circle">
                        <i class="pi pi-bolt text-3xl"></i>
                        <span class="p-ink"></span>
                    </a>
                    <a pripple="" class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center hover:surface-100 transition-colors transition-duration-150 w-3rem h-3rem border-circle">
                        <img src="assets/images/blocks/avatars/circle/avatar-f-1.png" style="width: 42px; height: 42px;">
                        <span class="p-ink"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="min-h-screen flex flex-column flex-auto surface-ground p-5">
            <div class="surface-card flex flex-column flex-auto border-round-xl p-5">
                <div class="flex justify-content-between align-items-center relative lg:static mb-5 column-gap-5">
                    <div class="flex align-items-center">
                        <button
                            pripple=""
                            pstyleclass="#app-sidebar-13"
                            enterclass="hidden"
                            enteractiveclass="fadeinleft"
                            leavetoclass="hidden"
                            leaveactiveclass="fadeoutleft"
                            class="p-ripple p-element p-link cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700 mr-3"
                        >
                            <i class="pi pi-bars text-4xl"></i>
                            <span class="p-ink"></span>
                        </button>
                        <div class="font-medium">Welcome back,
                            <span class="font-bold">Christina!</span> 👋
                        </div>
                    </div>
                    <div>
                        <a
                            pripple=""
                            pstyleclass="@next"
                            enterclass="hidden"
                            enteractiveclass="fadein"
                            leavetoclass="hidden"
                            leaveactiveclass="fadeout"
                            class="p-ripple p-element cursor-pointer block lg:hidden text-700"
                        >
                            <i class="pi pi-ellipsis-v text-2xl"></i>
                            <span class="p-ink"></span>
                        </a>
                        <ul class="list-none p-3 lg:p-0 m-0 hidden lg:flex lg:align-items-center select-none lg:flex-row lg:border-round-none border-round-xl surface-overlay border-1 lg:border-none surface-border right-0 top-100 z-1 shadow-2 lg:shadow-none absolute lg:static">
                            <li>
                                <span class="p-input-icon-left lg:mr-3 mb-3 lg:mb-0">
                                    <i class="pi pi-search"></i>
                                    <input
                                        type="text"
                                        pinputtext=""
                                        placeholder="Search"
                                        class="p-inputtext p-component p-element border-round-3xl w-8rem sm:w-full"
                                    >
                                </span>
                            </li>
                            <li>
                                <button
                                    iconpos="right"
                                    pButton
                                    pRipple
                                    icon="pi pi-plus"
                                    label="Add Task"
                                    class="p-ripple p-element border-round-3xl white-space-nowrap w-full lg:w-auto p-button p-component"
                                >
                                    <span class="p-button-icon p-button-icon-right pi pi-plus" aria-hidden="true"></span>
                                    <span class="p-ink"></span>
                                    <span class="p-button-label">Add Task</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="border-2 border-dashed surface-border surface-50 flex-auto border-round-xl"></div>
            </div>
        </div>
    </div>
</div>
