
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <!-- <div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;POWERED BY DISCORD</div> -->
        <div class="text-900 font-bold text-5xl mb-3">404 Page Not Found!</div>
        <div class="text-700 text-2xl mb-5">The page you are looking for does not exist.</div>
        <button pButton pRipple label="Go back to Home" routerLink="/" icon="pi pi-home" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
    </div>
</div>