/* You can add global styles to this file, and also import other style files */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
    body {
        margin: 0;
    }
    a {
        text-decoration: none;
    }
}

.active-route {
    background-color: var(--surface-100);
    color: var(--gray-700) !important;
}

:root {
    --primary-color: #16313f;
}